data/* filter=lfs diff=lfs merge=lfs -text
data/*.* filter=lfs diff=lfs merge=lfs -text
data filter=lfs diff=lfs merge=lfs -text
data/executed_notebooks filter=lfs diff=lfs merge=lfs -text
plots filter=lfs diff=lfs merge=lfs -text
